<div class="container login-container">
    <div class="row">

        <div class="col-md-6 col-md-offset-3">
            <div class="clearfix"><button class="btn btn-warning pull-right" (click)="logOut()">Logout</button></div>
            <form [formGroup]="loginForm" #f="ngForm" (ngSubmit)="onSubmit()">
                <fieldset class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email"  #email placeholder="Enter Valid Email" [formControl]="loginForm.controls.email">
                    <span class="error">Please enter a valid email address</span>
                </fieldset>
                <fieldset class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password"  #password placeholder="Enter Password" [formControl]="loginForm.controls.password">
                    <span class="error">Please enter password</span>
                </fieldset>
                <fieldset class="pull-right">
                    <button class="btn btn-secondary">Cancel</button>
                    <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Login</button>
                </fieldset>
            </form>
            <small>Login details for test purpose: test@test.com/Test123</small>
        </div>
    </div>
</div>